<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- Usuarios -->
        <div>
            <h1>{{titulo1}}</h1>
            <ul>
                <li v-for="usuario in usuarios" :key="usuario.id">{{usuario.id}} - {{ usuario.nombre }} - {{ usuario.email }}</li>
            </ul>
            <form @submit.prevent="cargarUsuarios">
                <input type="text" v-model="nombreUsuario" placeholder="Nombre">
                <input type="email" v-model="emailUsuario" placeholder="Email">
                <button type="submit">Agregar Usuario</button>
            </form>
        </div>

        <div>
            <h1>{{titulo2}}</h1>
            <ul>
                <li v-for="producto in productos" :key="producto.id">{{producto.id}} - {{ producto.nombre }} - {{ producto.precio }}</li>
            </ul>
            <form @submit.prevent="agregarProducto">
                <input type="text" v-model="nombreProducto" placeholder="Nombre">
                <input type="number" v-model="precioProducto" placeholder="Precio">
                <button type="submit">Agregar Producto</button>
            </form>
        </div>

        <div>
            <h1>{{titulo3}}</h1>
            <ul>
                <li v-for="pedido in pedidos" :key="pedido.id">{{ pedido.usuarioId }} - {{ pedido.productoId }} - {{ pedido.cantidad }}</li>
            </ul>
            <form @submit.prevent="agregarPedido">
                <input type="number" v-model="usuarioIdPedido" placeholder="Usuario ID">
                <input type="number" v-model="productoIdPedido" placeholder="Producto ID">
                <input type="number" v-model="cantidadPedido" placeholder="Cantidad">
                <button type="submit">Agregar Pedido</button>
            </form>
        </div>
        

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
</body>
</html>